---
import HeadingComponent from "@/components/HeadingComponent.astro";
import Bento from "../Bento.astro";
---
<div class="grid place-items-center mb-20">
    <HeadingComponent tag="h2" className="text-2xl text-emerald-400 mb-6">Proyectos</HeadingComponent>

    <Bento />
</div>